@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 214, 219, 220;
  --dark: #999;
  --dark-bg: #373c41;
  --orange: #f57f2a;
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

.sticky-button {
  position: sticky;
  top: 0;
  z-index: 999;
}